PORT=2040

NODE_ENV="production"

STATIC_PATH="/static/"

SLACK_CHANNEL="C1234567890"

WEB_DIRECTORY="/path/to/yalcs/web"

YALCS_WEB_URL="https://example.com/yalcs"

SLACK_BOT_TOKEN="xoxb-155555555555-600000000000-XXXXXXXXXXXXXXXXXXXXXXXX"

SLACK_SIGNING_SECRET="ABC123XYZ4567890aca88de70a4935e"